<p class="mb-4">{{label}}</p>
<mat-form-field class="full-width">
    <mat-label>{{label}}</mat-label>
    <textarea matInput
        [formControl]="control"
        [placeholder]="placeholder"
        [required]="required"
        [readonly]="readonly"
        cdkTextareaAutosize
        [cdkAutosizeMinRows]="minRows"
        [cdkAutosizeMaxRows]="maxRows"
        appFormcontrolValidationMsg
        [currentControl]="(control)"
        [currentControlName]="currentControlName"
        [currentFormGroup] = "typeOfFormGroup"
        (showErrors) = "showError($event)"
    ></textarea>
</mat-form-field>
<ng-container *ngIf="errorMessages?.length">
    <mat-error class="mb-4" 
        *ngFor="let errorMsg of errorMessages; let index = index; let last = last" 
        [ngClass]="{'mb-8': last}">
            {{errorMsg}}</mat-error>
</ng-container>
