@use "sass:map";
@import "useful-classes";
@import "main-theme";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";


.container {
    width: 100%;;
    padding: map.get($indents-sizes, "16");

    &_flex {
        display: flex;
    }

    &_column {
        flex-direction: column;
    }
}

.full-width {
    width: 100% !important;
}