@use "sass:map";
@import "useful-classes";
@import "custom-matirial";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.container {
    width: 100%;;
    padding: map.get($indents-sizes, "16");

    &_flex {
        display: flex;
    }
}