<mat-card>
    <mat-card-header>
      <mat-card-title>{{this.commponentType}}</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-card-content>
            <app-input-form
                label="Title"
                inputProperty="text"
                placeholder="title"
                [control] = "$any(formGroup.get('title'))"
                currentControlName = "title"
                [typeOfFormGroup]="currentFormGroup"
            >
            </app-input-form>
            <app-select
                label="Category"
                placeholder="Category"
                [control] = "$any(formGroup.get('nameCategory'))"
                [value] = "$any(categoryInit$ | async)"
                currentControlName = "nameCategory"
                [typeOfFormGroup]="currentFormGroup"
                >
            </app-select>
            <app-textarea
                label="Post Text"
                placeholder="Post Text"
                [minRows]="5"
                [maxRows]="350"
                [control] = "$any(formGroup.get('text'))"
                currentControlName = "text"
                [typeOfFormGroup]="currentFormGroup"
            ></app-textarea>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button 
                type="submit" 
                color="primary"
                [disabled]="formGroup.invalid || !disabledButton">
                    {{this.commponentType | uppercase}}</button>
        </mat-card-actions>
    </form>
  </mat-card>
